:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --header: #ffffff;
  --main-txt-mode-light: #212121;
  --primary-txt-mode-light: #757575;
  --secondary-txt-mode-light: #2196f3;

  --mode-dark: #2f303a;
  --button: #2196f3;
  --main-txt-mode-dark: #ffffff;
  --primary-txt-mode-dark: rgba(255, 255, 255, 0.6);
  --secondary-txt-mode-dark: #2196f3;
  --button-focus-color: #188ce8;
  --border-bottom-solid: #ececec;
  --services-styles-solid: #eeeeee;

  --icon-main-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --bg-icon-hover-color: #2196f3;
  --team-background-color: #f5f4fa;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
